$cycleRows: 3;
$highlight: #0000ff;

%offset {
	display: inline-block;
}

@function keysize($fullscreen) {
	@if $fullscreen {
		@return 100vw/17;
	} @else {
		@return 40px;
	}
}

@mixin offset($offset) {
	@extend %offset;
	width: $offset*keysize(false)/$cycleRows;
	:fullscreen & {
		width: $offset*keysize(true)/$cycleRows;
	}
}

.keyboard {
	display: flex;
	flex-direction: column;
	&::before {
		content: "";
		flex-grow: 1;
	}
}

.offset1 {
	@include offset(1);
}

.offset2 {
	@include offset(2);
}

.key {
	width: keysize(false);
	height: keysize(false);
	:fullscreen & {
		width: keysize(true);
		height: keysize(true);
	}
	border: 1px solid gray;
	display: inline-block;

	// get borders to overlap
	margin-right: -1px;
	margin-bottom: -1px;

	background-color: white;
	.down > & {
		background-color: scale-color($highlight, $lightness: 50%);
	}

	&.accidental {
		color: white;
		background-color: black;

		.down > & {
			background-color: scale-color($highlight, $lightness: -50%);
		}
	}
}
